body {
  font-family: Arial, sans-serif;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-header {
  font-size: 32px;
  color: #dadada;
  margin: 20px 0;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #a5a5a5;
}

/* holds everything but the header */
.chat-container {
  /* background: #000000; */
  padding: 20px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px; */
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

/* holds all message divs */
#messages-container {
  height: 70vh;
  overflow-y: auto; /* vertical scroll */
  margin-bottom: 10px;
  color: #d6d6d6;
  padding: 10px;
  border-radius: 5px;
  background: #212121;
  scrollbar-width: thin;
  scrollbar-color: rgba(79, 79, 79, 0.3) transparent;
}

/* single chat message div */
#messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  color: #d6d6d6;
  padding: 5px;
  border-radius: 5px;
  background: #121212;
  /* border: 1px solid #ddd; */
}

/* holds everything related to input: input box, send button, etc */
.input-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #a5a5a5;
  /* background: #b8d86d; */
}

.message-input {
  flex: 1;
  padding: 12px;
  margin-right: 10px;
  background: #121212;
  color: #fbfbfb;
  border: 1px solid #121212;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: none; /* Remove any shadow effects */
}

.message-button {
  cursor: pointer;
  border-radius: 50%;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.send-icon {
  width: 20px;
  height: 20px;
}
